@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex
}

.cabecalho {
    flex-basis: 30%;
    margin-left: 10px;
}

.cabecalho__logo {
    padding: 30px 0;
}

figcaption {
    display: none;
}

.nav__item {
    margin-bottom: 22px;
    cursor: pointer;
}

.nav__item img {
    max-width: 26px;
    margin-right: 10px;
}

.nav__item a {
    color: #1a1919;
    text-decoration: none;
    vertical-align: text-top;
    font-weight: 500;
}

.nav__item a:hover {
    color: #1da1f2;
    transition: ease-in 0.2s;
}

.principal {
    flex-basis: 70%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.titulo {
    margin: 30px 30px;
    font-weight: 700;
}

.box__form {
    padding: 10px 30px;
    border-top: 1px solid #e7ecf0;
    border-bottom: 10px solid #e7ecf0;
    text-align: right;
}

.box__form textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    height: 55px;
}

.box__form button {
    background-color: #1da1f2;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.box__form button:hover {
    background-color: hsla(203, 89%, 53%, 0.612);
    transition: ease-in-out 0.4s;
}

.box__form textarea {
    font-family: 'Roboto',sans-serif;
}

.feed__item {
    padding: 20px 30px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
}

.feed__box {
    display: flex;
    flex-flow: column-reverse nowrap;
}

.box__post {
    margin-left: 10px;
}

.box__post h2 {
    display: inline-block;
    font-weight: 500;
}

.box__post span.user__name {
    display: inline-block;
    color: #828282;
    font-size: 15px;
    margin-left: 5px;
}

.box__post p {
    margin-top: 10px;
    color: #333333;
    font-size: 15px;
    line-height: 22px;
}

.box__post p strong {
    color: #1da1f2;
}